*{
    margin: 0;
    padding: 0;
}

ol,ul,li{list-style: none;}

a{
    text-decoration: none;
    color:inherit;
}

/* 라이브러리 */
.row{
    display: block;
    content: "";
    clear: both;
}

.cell{
    float: left;
}

.cell2{
    float: right;
}

/* 스타일 */
body{
    background: #f8f8ed;
}

.header{
    width:100%;
}


/* 메뉴 */
.top-menu{
    width:100%;
    height: 70px;
/*    background: rgba(0,0,0,50%);*/
    position: absolute;
    color:white;
    margin-top: 20px;
}

.top-menu>.menu_left1{
    width: 15%;
    padding:20px 50px;
    box-sizing: border-box;
}
.top-menu>.menu_left1>.fritz{
    font-weight: bold;
    
}
.top-menu>.menu_left1>.bread{
    font-size: 13px;
}
.top-menu>.menu_left2{
    width:31%;
    height: 100%;
    background: ;
}

.top-menu>.menu_left2>ul>li{
    width:23%;
    text-align: center;
    margin:30px 0;
    position: relative;
}
.top-menu>.menu_left2>ul>li>a:hover{
    font-weight: bold;
}

.top-menu>.menu_left2>ul>.left::before{
    display: none;
}
.top-menu>.menu_left2>ul>li::before{
    display: block;
    content: "";
    width:1px;
    height: 15px;
    background: white;
    position: absolute;
    top:3px;
}
.menu_left2>ul>li>ul{
    width:100%;
    height: 100%;
    margin-top: 20px;
    display: none;
}

.menu_left2>ul>li>ul>li{
    width:100%;
    height: 100%;
    margin-top: 5px;

}
.menu_left2>ul>li>ul>li>a:hover{
    font-weight: bold;
}

.top-menu>.menu_center{
    width:8%;
    height: 100%;

}
.top-menu>.menu_center>.logo>a{
    display: block;
    content: "";
    width:90px;
    height: 104px;
    margin:0 auto;
    background: url(../img/logo.jpg);
    background-size: cover;
    background-position: center;    
}

.top-menu>.menu_right1{
    width:31%;

}

.top-menu>.menu_right1>ul>li{
    width:23%;
    text-align: center;
    margin:30px 0;
    position: relative;
}
.top-menu>.menu_right1>ul>li>a:hover{
    font-weight: bold;
}


.top-menu>.menu_right1>ul>.right::before{
    display: none;
}
.top-menu>.menu_right1>ul>li::before{
    display: block;
    content: "";
    width:1px;
    height: 15px;
    background: white;
    position: absolute;
    top:3px;
}

.top-menu>.menu_right2{
    width:15%;
}



/* 메인 이미지 슬릭슬라이드 */


.slick_wrap{
    width: 100%;
    position: relative;
    z-index: -2;
}

.main_bg>h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:48px;
    text-shadow: 7px 7px 7px black;
    opacity: 70%;
}
.slick_wrap{
    width:100%;
}
.slick_wrap div>img{
    width:100%;
    height: 50vw;
    background-position: center;
    background-size: cover;
}


/* 커피클럽 */

.coffee-club{
    text-align: center;
}


.coffee-shop>h2{
    margin-top: 100px;
    text-align: center;
}


















