* {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 폰트적용 */
html {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 라이브러리 */
.row {
    display: block;
    content: "";
    clear: both;
}

.cell {
    float: left;
}

.cell2 {
    float: right;
}

/* 스타일 */
body {
    background: #f8f8ed;
}

/* 메뉴 */
.top-bar {
    min-width: 1280px;
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    box-sizing: border-box;
    padding: 0 40px;
    position: fixed;
    z-index: 3;
}

.top-bar:hover {
    background: rgba(0, 0, 0, 0.4);
}

.left-category {
    flex: 1 0 0;
    justify-content: space-between;
    display: flex;
}

.left-category > .left-simbol {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.left-category > .left-simbol > span > span {
    display: block;
    white-space: nowrap;
}

.left-category > .left-simbol > span > span:first-child {
    font-size: 1.5rem;
}

.top-bar .logo > img {
    width: 83px;

}

.top-bar .logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.main-menu > ul {
    height: 100%;
    display: flex;
}


.main-menu ul > li:hover > a {
    color: #b51f28;
    text-decoration: underline
}



.main-menu > ul > li > a {
    padding: 0 10px;
    font-weight: bold;
    display: flex;
    height: 100%;
    align-items: center;

}

.main-menu > ul > li > div > ul {
    display: none;
    position: absolute;
    transform: translateY(-40px);
}

.main-menu > ul > li > div::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}



.main-menu > ul > .sub-items-count-2 > div::before {
    height: 75px;
}

.main-menu > ul > .sub-items-count-3 > div::before {
    height: 120px;
}

.main-menu > ul > .sub-items-count-4 > div::before {
    height: 170px;
}

.top-bar .main-menu > ul > li:hover > div::before {
    display: block;
}

.top-bar .main-menu > ul > li:hover > div > ul {
    display: block;
}


.top-bar .main-menu > ul > li > div > ul > li > a {
    display: block;
    padding: 15px 0px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

.top-bar .main-menu > ul > li > a {
    padding: 0 10px;
}

.menu-right > ul {
    height: 100%;
    display: flex;
}

.menu-right > ul > li {
    padding: 0 20px;
    font-weight: bold;
    align-items: center;
    height: 100%;
    display: flex;
}


.top-bar .menu-right > ul > li:hover > a {
    color: #b51f28;
}




/* 메인 이미지 슬릭슬라이드 */



.slick_wrap {
    width: 100%;
    min-width: 1280px;
}

.slick_wrap div > img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.slick_wrap div {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slick_wrap .con1 > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-shadow: 7px 7px 7px black;
    opacity: 75%;
}


.slick_wrap .con2 > .text{
    position: absolute;
    top: 65%;
    left: -5%;
    color: white;
    text-shadow: 7px 7px 7px black;
    opacity: 75%;
    text-align: right;
}
.slick_wrap .con2 > .text > h1{
    font-size: 60px;
}
.slick_wrap .con2 > .text > span{
    font-size: 20px;
    font-weight: bold;
    
}


.slick_wrap .con3 > .text{
    position: absolute;
    top: 75%;
    left: -35%;
/*    text-shadow: 3px 2px 5px black;*/
    opacity: 75%;
    text-align: center;
}


.slick_wrap .con3 > .text > h1{
    color: #b51f28;
    font-size: 50px;
}

.slick_wrap .con3 > .text > span{
    font-size: 20px;
    text-align: center;
    font-weight: bold;    
}


.slick_wrap .con4 > .text{
    position: absolute;
    top: 70%;
    left: -30%;
    color: white;
    text-shadow: 5px 5px 5px black;
    opacity: 75%;
    text-align: center;
}


.slick_wrap .con4 > .text > h1{
    color: #b51f28;
    font-size: 50px;
}

.slick_wrap .con4 > .text > span{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}







.slick-dots li {
    width: 50px;
}

.slick-dots li button:before {
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    top: -40px;
    ;
    left: 0;
    width: 55px;
    height: 3px;
    text-align: center;
    opacity: .25;
    background: white;
    content: close-quote;
}


/*  contents */


.contents {
    width: 1280px;
    margin: 0 auto;
}


/* 커피클럽 */


.coffee-club {
    margin-top: 50px;
    text-align: center;
}

.coffee-club > h1 {
    color: #233b5f;
}

.coffee-club > p {
    font-weight: 400;
    color: #777;
}

.coffee-club > a {
    color: red;
}

.coffee-club > a:hover {
    font-weight: bold;
}


/* 커피 베스트 */


.coffee-shop {
    width: 100%;
    height: 372.87px;
}

.coffee-shop > h2 {
    margin-top: 100px;
    text-align: center;
}

.coffee-shop > a {
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 15px;
    color: red;
}

.coffee-shop > .coffee-list {
    width: 100%;
}


.coffee-shop > .coffee-list > div > a {
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}

.coffee-shop > .coffee-list > div {
    width: 32%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}

.coffee-shop > .coffee-list > div:last-child {
    margin-right: 0;
}

.coffee-shop > .coffee-list > div > img {
    width: 100%;
    height: 80%;
    cursor: pointer;
}


/*커피 클래스*/


.coffee-class {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.coffee-class > img {
    width: 100%;
    height: 700px;
    background-size: contain;
    background-position: center;
}

.coffee-class > .copping-text {
    position: absolute;
    color: white;
    top: 55%;
    left: 5%;
}

.coffee-class > .copping-text > p {
    font-size: 15px;
    font-weight: 100;
}

.coffee-class > .copping-text > a {
    display: block;
    width: 190px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
}

.coffee-class > .copping-text > a:hover {
    color: red;
    border: 1px solid red;
    font-weight: bold;
}


/*  굿즈  */


.goods {
    width: 100%;
    height: 1000px;
    margin-top: 150px;
}

.goods > h2 {
    text-align: center;
    margin: 50px 0;
}

.goods > a {
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 15px;
    color: red;
}


.goods > div {
    width: 49%;
    height: 410.5px;
    background: blue;
    position: relative;
}

.goods > div > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.goods > div > div {
    width: 100%;
    height: 115px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
}

.goods > div:hover > div {
    opacity: 1;
}

.goods > div > div > a {
    display: block;
    text-align: right;
    color: #ddd;
    padding: 15px 30px;
    font-size: 15px;
}

.goods > div > div > a > p {
    text-align: left;
    font-weight: bold;

}

.goods > div:nth-of-type(odd) {
    margin-right: 2%;
}

.goods > div:nth-of-type(1) {
    margin-bottom: 2%;
}

.goods > div:nth-of-type(2) {
    margin-bottom: 2%;
}

.goods > div:nth-of-type(3) {
    background-position: center;
    background-size: cover;
}



/* footer */

.footer {
    min-width: 1600px;
    width: 100%;
    padding: 20px 50px;
    background: #f8f8ed;
    color: #233b5f;
    line-height: 1.6em;
    font-size: 11px;
    letter-spacing: 0.02em;
    border-top: 1px solid;
    margin: 100px 0;
    box-sizing: border-box;
}

.footer-wrap > ul > li {
    margin-right: 50px;
    font-weight: bold;
}

.footer-wrap > ul > li > span {
    background: url(/img/round.png) no-repeat center center;
    background-size: 28px 18px;
    color: rgb(195, 13, 35);
    font-weight: bold;
    margin-bottom: 2px;
    display: inline-block;
    padding: 5px 8px;
    line-height: 1em;
}

.footer-wrap > ul > li:last-child {
    margin-right: 100px;
}
