*{
    margin: 0;
    padding: 0;
}

ol,ul,li{list-style: none;}

a{
    text-decoration: none;
    color:inherit;
}

/* 라이브러리 */
.row{
    display: block;
    content: "";
    clear: both;
}

.cell{
    float: left;
}

.cell2{
    float: right;
}

/* 스타일 */
body{
    background: #f8f8ed;
}

.header{
    width:100%;
}


/* 메뉴 */

.top-menu{
    width:100%;
    height: 70px;
/*    background: rgba(0,0,0,50%);*/
    position: absolute;
    color:white;
    margin-top: 20px;
    position: fixed;
    z-index: 5;
}

.top-menu>.menu_left1{
    width: 15%;
    padding:20px 50px;
    box-sizing: border-box;
}
.top-menu>.menu_left1>.fritz{
    font-weight: bold;
    font-size: 20px;
}
.top-menu>.menu_left1>.bread{
    font-size: 15px;
}
.top-menu>.menu_left2{
    width:31%;
    height: 100%;
    background: ;
}

.top-menu>.menu_left2>ul>li{
    width:23%;
    text-align: center;
    margin:30px 0;
    position: relative;
}
.top-menu>.menu_left2>ul>li>a:hover{
    font-weight: bold;
}

.top-menu>.menu_left2>ul>.left::before{
    display: none;
}
.top-menu>.menu_left2>ul>li::before{
    display: block;
    content: "";
    width:1px;
    height: 15px;
    background: white;
    position: absolute;
    top:3px;
}
.menu_left2>ul>li>ul{
    width:100%;
    height: 100%;
    margin-top: 20px;
    display: none;
}

.menu_left2>ul>li>ul>li{
    width:100%;
    height: 100%;
    margin-top: 5px;

}
.menu_left2>ul>li>ul>li>a:hover{
    font-weight: bold;
}

.top-menu>.menu_center{
    width:8%;
    height: 100%;

}
.top-menu>.menu_center>.logo>a{
    display: block;
    content: "";
    width:90px;
    height: 104px;
    margin:0 auto;
    background: url(../img/logo.jpg);
    background-size: cover;
    background-position: center;    
}

.top-menu>.menu_right1{
    width:31%;

}

.top-menu>.menu_right1>ul>li{
    width:23%;
    text-align: center;
    margin:30px 0;
    position: relative;
}
.top-menu>.menu_right1>ul>li>a:hover{
    font-weight: bold;
}


.top-menu>.menu_right1>ul>.right::before{
    display: none;
}
.top-menu>.menu_right1>ul>li::before{
    display: block;
    content: "";
    width:1px;
    height: 15px;
    background: white;
    position: absolute;
    top:3px;
}

.top-menu>.menu_right2{
    width:15%;
}



/* 메인 이미지 슬릭슬라이드 */


.slick_wrap{
    width: 100%;
    position: relative;
    z-index: -2;
}

.main_bg>h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:48px;
    text-shadow: 7px 7px 7px black;
    opacity: 70%;
}
.slick_wrap{
    width:100%;
}
.slick_wrap div>img{
    width:100%;
    height: 50vw;
    background-position: center;
    background-size: cover;
}


/*  contents */
.contents{
    width: 1280px;
    margin: 0 auto;
}

/* 커피클럽 */

.coffee-club{
    margin-top: 50px;
    text-align: center;
}

.coffee-club>a{
    color: red;
}
.coffee-club>a:hover{
    font-weight: bold;
}

/* 커피 베스트 */
.coffee-shop{
    width: 100%;
    height: 372.87px;
}
.coffee-shop>h2{
    margin-top: 100px;
    text-align: center;
}
.coffee-shop>a{
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 15px;
    color: red;
}
.coffee-shop>.coffee-list{
    width: 100%;
}


.coffee-shop>.coffee-list>.con1{
    background: #ddd;
}
.coffee-shop>.coffee-list>.con1>a{
    display: block;

    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}

.coffee-shop>.coffee-list>div{
    width: 32%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}
.coffee-shop>.coffee-list>div:last-child{
    margin-right: 0;
}

.coffee-shop>.coffee-list>div>img{
    width:100%;
    height: 80%;
    
}

/*커피 클래스*/

.coffee-class{
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.coffee-class>img{
    width: 100%;
    height: 700px;
    background-size: contain;
    background-position: center;
}

.coffee-class>.copping-text{
    position: absolute;
    color: white;
    top: 65%;
    left:50px;
}

.goods{
    width: 100%;
    height: 1000px;
}
.goods>h2{
    text-align: center;
    margin: 50px 0;
}
.goods>.goods-img{
    width: 49%;
}
.goods>div>img{
    width: 100%;
    height: auto;
}

.goods>div:nth-of-type(odd){
    margin-right: 2%;
}

.goods>div:nth-of-type(1){
    margin-bottom: 2%;
}

.goods>div:nth-of-type(2){
    margin-bottom: 2%;
}
