* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.row {
    display: block;
    content: "";
    clear: both;
}

.cell {
    float: left;
}

.cell2 {
    float: right;
}

/* top menu */

.top-bar {
    display: flex;
    width: 100%;
    min-width: 1280px;
    height: 80px;
    position: fixed;
    z-index: 3;
    transition: 0.3s;
    border-bottom: 0px solid #dbdcdc;
}

.top-bar.active {
    border-bottom: 1px solid #dbdcdc;
    background: white;
}


.top-bar:hover {
    background: white;
}

.left-menu {
    flex: 1 0 0;
}

.logo {
    align-items: center;
    display: flex;
    padding: 20px;
}

.logo>img {
    width: 60px;
}

.right-menu {
    flex: 1 0 0;
}


.top-bar>div>ul {
    display: flex;
    height: 80px;
    align-items: center;

}


.top-bar>.left-menu>ul {
    margin-left: 45px;
}

.top-bar>.right-menu>ul {
    margin-right: 45px;
    justify-content: flex-end;
}

.top-bar>div>ul>li {
    display: flex;
    height: 80px;
    align-items: center;

}

.top-bar>div>ul>li>a.active {
    color: black;
}


.top-bar>div>ul>li>a {
    padding: 0 20px;
    color: white;
    font-weight: bold;
    ;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.top-bar>div>ul>li>a::after {
    display: block;
    content: "";
    width: 0%;
    height: 4px;
    text-align: center;
    background: #263ba0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.3s;
}

.top-bar>div>ul>li:hover>a::after {
    width: 100%;
}


.top-bar:hover>div>ul>li>a {
    color: black;
}


/* inner menu */

/* cars */
.nav-dep-wrap {
    position: fixed;
    width: 100%;
    z-index: 2;

}

.nav-dep-wrap>div {
    position: absolute;
    background: white;
    transition: 0.5s;
    margin-top: 80px;

}

.nav-2dep {
    width: 100%;
    height: 0vh;
    overflow: hidden;
}

.nav-2dep.active {
    height: 100vh;
}



.nav-2dep>.inner-cars {
    width: 60%;
    min-width: 1280px;
    height: 100%;
    padding: 50px 50px 0 50px;
}

.nav-2dep>.inner-cars>div {
    width: 80%;
    height: 210px;
    padding-top: 30px;
    margin-left: 40px;
    border-bottom: 1px solid #989898;
}

.nav-2dep>.inner-cars>div:last-child {
    border-bottom: 0;
}

.nav-2dep>.inner-cars>div>div {
    width: 260px;
}


.nav-2dep>.inner-cars>div>span {
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #161618;
    width: 160px;
}

.nav-2dep>.inner-cars>div>div>a {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;

}

.nav-2dep>.inner-cars>div>div>a>img {
    transition: 0.5s;
}

.nav-2dep>.inner-cars>div>div>a:hover>img {
    transform: scale(1.1);
}

.nav-2dep>.inner-cars>div>div>div>a:first-child {
    margin-right: 30px;
}

.nav-2dep>.inner-cars>div>div>div>a {
    color: #777;
    font-weight: lighter;
    position: relative;
}

.nav-2dep>.inner-cars>div>div>div>a>i {
    position: absolute;
    top: 20%;
    right: 0;
    color: #1c6bba;
    transition: 0.7s;
}

.nav-2dep>.inner-cars>div>div>div>a:hover>i {
    right: -6px;
}

/* buy */

.nav-3dep {

    top: 0;
    left: 118px;
    width: 400px;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
}

.nav-3dep.active {
    height: 320px;
}

.nav-3dep>div {
    width: 100%;
    height: 360px;
    padding: 40px 60px;
    box-sizing: border-box;
}

.nav-3dep>div>div {
    width: 50%;
    height: 360px;
    box-sizing: border-box;
}

.nav-3dep>div>.inner-right>p {
    padding-left: 30px;
}

.nav-3dep>div>div>p {
    display: block;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
    color: #989898;
    border-bottom: 1px solid #dbdcdc;
}

.nav-3dep>div>div>a {
    display: block;
    padding: 15px 0;
    font-size: 15px;
    font-weight: lighter;
}

.nav-3dep>div>.inner-right>a {
    padding-left: 30px;
}

/* service menu */

.nav-4dep {
    top: 0px;
    left: 118px;
    width: 600px;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
}

.nav-4dep.active {
    height: 380px;
}

.nav-4dep>div {
    width: 100%;
    height: 360px;
    padding: 40px 60px;
    box-sizing: border-box;
}

.nav-4dep>div>div {
    width: 50%;
    height: 360px;
    box-sizing: border-box;
}

.nav-4dep>div>.inner-right>p {
    padding-left: 30px;
}

.nav-4dep>div>div>p {
    display: block;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
    color: #989898;
    border-bottom: 1px solid #dbdcdc;

}

.nav-4dep>div>div>a {
    display: block;
    padding: 15px 0;
    font-size: 15px;
    font-weight: lighter;
}

.nav-4dep>div>.inner-right>a {
    padding-left: 30px;
}

/* why volvo */

.nav-5dep {
    top: 0px;
    left: 118px;
    width: 710px;
    height: 0px;
    transition: 0.3s;
    overflow: hidden;
}

.nav-5dep.active {
    height: 380px;
}

.nav-5dep>div {
    width: 100%;
    height: 360px;
    padding: 40px 60px;
    box-sizing: border-box;
}

.nav-5dep>div>div {
    width: 33.3333%;
    height: 360px;
    box-sizing: border-box;
}

.nav-5dep>div>.inner-right>p {
    padding-left: 50px;
}

.nav-5dep>div>.inner-mid>p {
    padding-left: 30px;
}

.nav-5dep>div>div>p {
    display: block;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
    color: #989898;
    border-bottom: 1px solid #dbdcdc;

}

.nav-5dep>div>div>a {
    display: block;
    padding: 15px 0;
    font-size: 15px;
    font-weight: lighter;
}

.nav-5dep>div>.inner-right>a {
    padding-left: 50px;
}

.nav-5dep>div>.inner-mid>a {
    padding-left: 30px;
}


/* main video */


.over {
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.main-video {
    width: 100%;
}


/*  content  */

.content-wrap {
    min-width: 1280px;
}

.content1 {
    width: 100%;
    min-width: 1800px;
    height: 575.5px;
    margin-top: 20px;
}

.content1>div {
    width: 49.5%;
    height: 575.5px;
    margin: 0 auto;
    background: #777;
    position: relative;
    font-family: 'Work Sans', sans-serif;

}

.content1>.img1 {
    background: url(../볼보고화질사진/xc60.jpg)no-repeat;
    background-size: cover;
    margin-right: 0.5%;

}

.content1>div>.text {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    transition: 0.5s;
}

.content1>.img1>.text {
    top: 55%;
    left: 5%;
}

.content1>.img2>.text {
    top: 55%;
    left: 5%;
    
}
.content1>div>.text>p{
    text-shadow: 5px 5px 5px #000;
    font-weight: 300;
}
.content1>div>.text>h1 {
    margin: 15px 0;
    text-shadow: 5px 5px 5px #000;
}

.content1>div>.text>a {
    width: 170px;
    font-size: 16px;
    display: block;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    transition: 0.5s;
    position: relative;
}

.content1>div>.text>a:hover {
    background: white;
    color: black;
}

.content1>div>div>a>i {
    position: absolute;
    top: 38%;
    right:23%;
    color: white;
    transition: 0.7s;
}

.content1>div>div>a:hover>i {
    right: 19%;
    color: #1c6bba;
}



.content1>.img2 {
    background: url(../볼보고화질사진/xc40white2.jpg)no-repeat top;
    background-size: cover;
}

.content1>div>img {
    width: 100%;
    height: 600px;
}


.content2 {
    width: 100%;
    min-width: 1800px;
    height: 80px;
    margin: 20px 0;
    box-sizing: border-box;
    border-top: 1px solid #1c6bba;
    border-bottom: 1px solid #1c6bba;
}

.content2>div {
    width: 25%;
    height: 100%;
    border-right: 1px solid #dbdcdc;
    box-sizing: border-box;
}

.content2>div:last-child {
    border-right: 0px;
}

.content2>div>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.content2>div>a>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content2>div>a>div>img {
    width: 41px;
    height: 41px;
}

.content2>div>a>div>p {
    display: block;
    margin-left: 20px;
    line-height: 41px;
    font-size: 14px;
    height: 41px;
    color: #1c6bba;
    
}



/* content3 */

.content3 {
    width: 1248px;
    margin: auto;
}

.content3>h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
    font-size: 40px;
    font-weight: bold;
}


/* content3   car-menu */   


.content3>.car-menu {
    height: 50px;
    border-top: 1px solid #dbdcdc;
    border-bottom: 1px solid #dbdcdc;

    
}

.content3>.car-menu>div {
    height: 100%;
    width: 40%;
    margin: auto;
    position: relative;
}
.content3>.car-menu>div>span{
    position: absolute;
    display: block;
    width: 33.3%;
    height: 3px;
    background: #1c6bba;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.content3>.car-menu>div>a {
    width: 33.3%;
    display: block;
    line-height: 50px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.content3>.car-img {
    width: 100%;
    height: 300px;
}

/* content car-img */

.car-img>.inner-cars {
    width: 100%;
    height: 100%;
    padding: 50px 50px 0 50px;
    box-sizing: border-box;
    position: relative;
}
.car-img>.inner-cars>div{
    width: 100%;
    height: 230px;
    position: absolute;
    transition: 0.5s;
}
.car-img>.inner-cars>.suv{
    opacity: 1;
}
.car-img>.inner-cars>.suv.active {    
    opacity: 0;
}

.car-img>.inner-cars>.sedan{
    opacity: 0;
}

.car-img>.inner-cars>.sedan.active{
    opacity: 1;
}

.car-img>.inner-cars>.country {
    opacity: 0;
}

.car-img>.inner-cars>.country.active{
    opacity: 1;
}

.car-img>.inner-cars>div:last-child {
    border-bottom: 0;
}

.car-img>.inner-cars>div>div {
    width: 33.33%;
}


.car-img>.inner-cars>div>div>a {
    width: 33.33%;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
}

.car-img>.inner-cars>div>div>a>img {
    width: 300px;
    transition: 0.5s;
}

.car-img>.inner-cars>div>div>a:hover>img {
    transform: scale(1.1);
}

.car-img>.inner-cars>div>div>div>a:first-child {
    margin-right: 30px;
}

.car-img>.inner-cars>div>div>div>a {
    display: block;
    padding: 10px 37px;
    color: #777;
    font-weight: lighter;
    border: 1px solid #1c6bba;
    position: relative;
    transition: 0.5s;
}
.car-img>.inner-cars>div>div>div>a:hover{
    background: #1c6bba;
    color: white; 
}
.car-img>.inner-cars>div>div>div>a>i {
    position: absolute;
    top: 33%;
    right:30%;
    color: #1c6bba;
    transition: 0.7s;
}

.car-img>.inner-cars>div>div>div>a:hover>i {
    right: 20%;
    color: white;
}