*{
    margin: 0;
    padding: 0;
}

ul,ol,li{
    list-style:none;
}

a{
    color: inherit;
    text-decoration: none;
}

.row{
    display: block;
    content: "";
    clear: both;
}

.cell{
    float: left;
}

/* top menu */

.top-bar{
    display: flex;
    width:100%;
    min-width: 1280px;
    height: 80px;
    position: fixed;
    z-index: 3;
    transition: 0.3s;
    border-bottom:0px solid #dbdcdc;
}
.top-bar.active{
    border-bottom: 1px solid #dbdcdc;
    background: white;
}


.top-bar:hover{
    background: white;
}

.left-menu{
    flex: 1 0 0;
}

.logo{
    align-items:center;
    display: flex;
    padding: 20px;
}
.logo>img{
    width: 60px;
}
.right-menu{
    flex: 1 0 0;
}


.top-bar>div>ul{
    display: flex;
    height: 80px;
    align-items:center;
    
}


.top-bar>.left-menu>ul{
    margin-left: 45px;
}

.top-bar>.right-menu>ul{
    margin-right: 45px;
    justify-content:flex-end;
}
.top-bar>div>ul>li{
    display: flex;
    height: 80px;
    align-items:center;

}
.top-bar>div>ul>li>a.active{
    color: black;    
}


.top-bar>div>ul>li>a{
    padding: 0 20px;
    color:white;
    font-weight: bold;; 
    display: block;    
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
}

.top-bar>div>ul>li>a::after{
    display: block;
    content: "";
    width:0%;
    height: 4px;
    text-align: center;
    background: #263ba0;
    position: absolute;
    bottom:  0px;
    left: 0px;
    transition: 0.3s;
}

.top-bar>div>ul>li:hover >a::after{
    width: 100%;
}


.top-bar:hover >div>ul>li>a{
    color: black;
}


/* inner menu */

/* cars */

.nav-dep-wrap>div{
    position: absolute;
    background: white;
    z-index: 2; 
    transition: 0.5s;   
    margin-top: 80px;
    
}

.nav-2dep{    
    width: 100%;
    height: 0vh; 
    overflow: hidden;
}
.nav-2dep.active{
    height: 91.5vh;
}



.nav-2dep>.inner-cars{
    width: 60%;
    min-width: 1280px;
    height: 100%;
    padding: 50px 50px 0 50px;
}

.nav-2dep>.inner-cars>div{
    width: 80%;
    height: 210px;
    padding-top: 30px ;
    margin-left: 40px;
    border-bottom: 1px solid #989898;
}
.nav-2dep>.inner-cars>div:last-child{
    border-bottom: 0;
}

.nav-2dep>.inner-cars>div>div{
    width: 260px;
}


.nav-2dep>.inner-cars>div>span{
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #161618;
    width: 160px;
}

.nav-2dep>.inner-cars>div>div>a{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;

}
.nav-2dep>.inner-cars>div>div>a >img{
    transition: 0.5s;
}
.nav-2dep>.inner-cars>div>div>a:hover >img{
    transform: scale(1.1);
}

.nav-2dep>.inner-cars>div>div>div>a:first-child{
    margin-right: 30px;
}
.nav-2dep>.inner-cars>div>div>div>a{
    color:#777;
    font-weight: lighter;
    position: relative;
}
.nav-2dep>.inner-cars>div>div>div>a>i{
    position: absolute;
    top: 20%;
    right: 0;
    color: #1c6bba;
    transition: 0.7s;
}
.nav-2dep>.inner-cars>div>div>div>a:hover >i{
    right: -6px;
}

/* buy */

.nav-3dep{
    top:0px;
    left: 118px;
    width: 400px;
    height: 0px;    
    transition: 0.3s;
    overflow: hidden;
}

.nav-3dep.active{
    height: 320px; 
}
.nav-3dep>div{
    width: 100%;
    height: 360px; 
    padding: 40px 60px;
    box-sizing: border-box;
}

.nav-3dep>div>div{
    width: 50%;
    height: 360px; 
    box-sizing: border-box;
}
.nav-3dep>div>.inner-right>p{
    padding-left: 30px;
}

.nav-3dep>div>div>p{
    display: block;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
    color: #989898;
    border-bottom: 1px solid #dbdcdc;
    
}

.nav-3dep>div>div>a{
    display: block;
    padding: 15px 0;
    font-size: 15px;
    font-weight: lighter;
}
.nav-3dep>div>.inner-right>a{
    padding-left: 30px;
}

/* service menu */

.nav-4dep{
    top:0px;
    left: 118px;
    width: 600px;
    height: 0px;    
    transition: 0.3s;
    overflow: hidden;
}

.nav-4dep.active{
    height: 380px; 
}
.nav-4dep>div{
    width: 100%;
    height: 360px; 
    padding: 40px 60px;
    box-sizing: border-box;
}

.nav-4dep>div>div{
    width: 50%;
    height: 360px; 
    box-sizing: border-box;
}
.nav-4dep>div>.inner-right>p{
    padding-left: 30px;
}

.nav-4dep>div>div>p{
    display: block;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
    color: #989898;
    border-bottom: 1px solid #dbdcdc;
    
}

.nav-4dep>div>div>a{
    display: block;
    padding: 15px 0;
    font-size: 15px;
    font-weight: lighter;
}
.nav-4dep>div>.inner-right>a{
    padding-left: 30px;
}

/* why volvo */

.nav-5dep{
    top:0px;
    left: 118px;
    width: 710px;
    height: 0px;    
    transition: 0.3s;
    overflow: hidden;
}

.nav-5dep.active{
    height: 380px; 
}
.nav-5dep>div{
    width: 100%;
    height: 360px; 
    padding: 40px 60px;
    box-sizing: border-box;
}

.nav-5dep>div>div{
    width: 33.3333%;
    height: 360px; 
    box-sizing: border-box;
}
.nav-5dep>div>.inner-right>p{
    padding-left: 50px;
}
.nav-5dep>div>.inner-mid>p{
    padding-left: 30px;
}

.nav-5dep>div>div>p{
    display: block;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
    color: #989898;
    border-bottom: 1px solid #dbdcdc;
    
}

.nav-5dep>div>div>a{
    display: block;
    padding: 15px 0;
    font-size: 15px;
    font-weight: lighter;
}
.nav-5dep>div>.inner-right>a{
    padding-left: 50px;
}

.nav-5dep>div>.inner-mid>a{
    padding-left: 30px;
}


/* main video */


.over{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
.main-video{
    width:100%;
}

